.venv/
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
vault_output/*
!vault_output/.gitkeep
*.mp4
*.mkv
.env
grafo.json
docs/exemplo/vault/.obsidian/workspace.json
eval/predicoes/
eval/resultados*.csv
.obsidian/
eval/quebras*.csv
eval/cache_ocr/
eval/cache_video/
